<!-- Simple page with the essential about the project. -->
<div class="container">
    <h2 class="text-center">Welcome to the Smart Kitchen Project!</h2>
    <p class="text-center"><br />We are students from <img style="height:0.8em;" src="img/icons/Belgium.png" /> Belgium!<br />We made this Project on ERASMUS in Oulu, <img style="height:0.8em;" src="img/icons/Finland.png"  /> Finland!</p><br />

    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="ui-group-buttons">
                <button type="button" class="btn btn-success" data-ng-click="goToGetStarted()"><i class="fa fa-rocket fa-lg"></i>&nbsp;&nbsp; Get Started</button>
                <div class="or"></div>
                <button type="button" class="btn btn-info" data-ng-click="goToLogin()"><i class="fa fa-home fa-lg"></i>&nbsp;&nbsp; Enter Your Kitchen</button>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:80px;">
        <div class="col-sm-12 text-center">
            <a role="button" class="btn btn-primary" target="_blank" href="https://github.com/OAMK-Smart-Kitchen">View on GitHub &nbsp;&nbsp;<i class="fa fa-github fa-lg"></i></a>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">{{getCopyright}}</p>
        </div>
    </footer>
    <style>
        /* Sticky footer styles
        -------------------------------------------------- */
        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }

        .footer {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            background-color: #f5f5f5;
        }

        /* Custom page CSS
        -------------------------------------------------- */
        /* Not required for template or sticky footer method. */

        body > .container {
            padding: 60px 15px 0;
        }

        .container .text-muted {
            margin: 20px 0;
        }

        .footer > .container {
            padding-right: 15px;
            padding-left: 15px;
        }

        code {
            font-size: 80%;
        }
    </style>
</div>