<div class="col-sm-offset-3 col-sm-6 container" data-ng-controller="login" style="margin-top:50px;">
    <div ng-show="loginFailed" class="alert alert-danger"><i class="fa fa-warning"></i>&nbsp;&nbsp;Please check Username and Password.</div>

    <form novalidate id="loginform" class="form-horizontal" role="form">

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input data-ng-model="Member.Username" type="text" class="form-control" name="username" value="" autofocus ng-disabled="loginStatus == 1" placeholder="Username" required ng-enter="goToDashboard()" no-capitalize>
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input data-ng-model="Member.Password" type="password" class="form-control" name="password" placeholder="Password" required ng-enter="goToDashboard()" ng-disabled="loginStatus == 1">
        </div>

        <!--
        <div class="input-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="remember" value="1"> Remember Login
                </label>
            </div>
        </div>
        -->

        <div style="margin-top:10px" class="form-group">
            <div class="col-sm-12 controls">
                <button data-ng-click="goToDashboard()" type="button" ng-class="{'btn btn-success': loginStatus == 0, 'btn btn-warning loading': loginStatus == 1, 'btn btn-danger': loginStatus == 2}">Login</button>
                <!-- // REGISTER BUTTON HIDED!
                    <span style="margin-left:8px;margin-right:8px;">or</span>
                <button type="button" class="btn btn-primary" data-ng-click="goToRegister()">Register Form</button>
                    -->
            </div>
        </div>

        <!-- //FEATURED FUNCTION
        <div class="form-group">
            <div class="control">
                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                    <div style="float: right;display:inline;">
                        Forgot Password?<a href="" type="button" data-ng-click="Password()"> Click Here</a>
                    </div>
                </div>
            </div>
        </div>
            -->
    </form>
</div>