<div class="col-sm-offset-3 col-sm-6 container" data-ng-controller="login" style="margin-top:50px;margin-bottom:50px;">

    <ul class="nav nav-tabs" style="margin-bottom:20px;">
        <li ng-class="{active : showlogin}"><a role="button" href="" data-ng-click="switchTo('login')">Login</a></li>
        <li ng-class="{active : showregister}"><a role="button" href="" data-ng-click="switchTo('register')">Register</a></li>
    </ul>

    <section ng-show="showregister">

        <div ng-show="reg_section_one">
            <form name="registerFormKitchen" ng-submit="kitchenDone(registerFormKitchen.$valid)" novalidate>

                <h2>Let's start with your kitchen...</h2>
                <h4>Enter an original name for your kitchen! Be creative ;-)</h4><br /><br />

                <!-- KITCHENNAME -->
                <div class="form-group" ng-class="{ 'has-error' : registerFormKitchen.kitchenname.$invalid && !registerFormKitchen.kitchenname.$pristine }">
                    <label>Kitchen Name</label>
                    <input type="text" name="kitchenname" class="form-control" ng-model="Kitchen.Name" placeholder="Kitchen name" required autofocus>
                    <p ng-show="registerFormKitchen.kitchenname.$invalid && !registerFormKitchen.kitchenname.$pristine" class="help-block">Your firstname is required.</p>
                </div>

                <!-- SUBMIT BUTTON -->
                <button type="submit" class="btn btn-primary" ng-disabled="registerFormKitchen.$invalid">Nest Step</button>

            </form>
        </div>
        <div ng-show="reg_section_two">
            <h2>Who's the boss in this kitchen?</h2>
            <h4>Fill in all the information correctly... Or at least try to (:</h4>
            <form name="registerFormMember" ng-submit="adminDone(registerFormMember.$valid)" novalidate>
                <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
                <!-- FIRSTNAME -->
                <div class="form-group" ng-class="{ 'has-error' : registerFormMember.firstname.$invalid && !registerFormMember.firstname.$pristine }">
                    <label>Firstname</label>
                    <input type="text" name="firstname" class="form-control" ng-model="Member.Firstname" placeholder="Firstname" required autofocus>
                    <p ng-show="registerFormMember.firstname.$invalid && !registerFormMember.firstname.$pristine" class="help-block">Your firstname is required.</p>
                </div>

                <!-- LASTNAME -->
                <div class="form-group" ng-class="{ 'has-error' : registerFormMember.lastname.$invalid && !registerFormMember.lastname.$pristine }">
                    <label>Lastname</label>
                    <input type="text" name="lastname" class="form-control" ng-model="Member.Lastname" placeholder="Lastname" required>
                    <p ng-show="registerFormMember.lastname.$invalid && !registerFormMember.lastname.$pristine" class="help-block">Your lastname is required.</p>
                </div>

                <!-- DATE OF BIRTH -->
                <div class="form-group" ng-class="{ 'has-error' : registerFormMember.dateofbirth.$invalid && !registerFormMember.dateofbirth.$pristine }">
                    <label>Date of Birth</label>
                    <input type="text" name="dateofbirth" class="form-control" ng-model="Member.DateOfBirth" placeholder="dd-mm-yyyy" required ng-minlength="10" ng-maxlength="10">
                    <p ng-show="registerFormMember.dateofbirth.$invalid && !registerFormMember.dateofbirth.$pristine" class="help-block">Your Date of Birth is required or incorrect. Format: dd-mm-YYYY</p>
                </div>

                <!-- EMAIL -->
                <div class="form-group" ng-class="{ 'has-error' : registerFormMember.email.$invalid && !registerFormMember.email.$pristine }">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" ng-model="Member.Email" ng-minlength="6" placeholder="Email" no-capitalize required>
                    <p ng-show="registerFormMember.email.$invalid && !registerFormMember.email.$pristine" class="help-block">Your Email is required.</p>
                </div>

                <!-- PASSWORD -->
                <div class="form-group" ng-class="{ 'has-error' : registerFormMember.password.$invalid && !registerFormMember.password.$pristine }">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" ng-model="TempPassword" placeholder="Password" required>
                    <p ng-show="registerFormMember.password.$invalid && !registerFormMember.password.$pristine" class="help-block">Your Password is missing or invalid.</p>
                </div>

                <!-- PASSWORD VERIFY -->
                <div class="form-group" ng-class="{ 'has-error' : registerFormMember.confirm_password.$invalid && !registerFormMember.confirm_password.$pristine }">
                    <label>Confirm Password</label>
                    <input type="password" name="confirm_password" class="form-control" ng-model="ConfirmTempPassword" placeholder="Confirm Password" required data-password-verify="TempPassword">
                    <p ng-show="registerFormMember.confirm_password.$invalid && !registerFormMember.confirm_password.$pristine" class="help-block">Your Password is missing or invalid.</p>
                </div>

                <!-- SUBMIT BUTTON -->
                <button type="submit" class="btn btn-primary" ng-disabled="registerFormMember.$invalid">Register</button>

            </form>
        </div>
        <div ng-show="reg_section_three" class="text-center" style="margin:auto;">
            <div ng-hide="(registerStatus == 2 )||(registerStatus == 3) " class="well well-lg">
                <h4><b>Sending your registration... </b></h4><br />
                <i class="fa fa-cog fa-spin fa-3x"></i>
            </div>
            <div ng-show="registerStatus == 2" class="well well-lg" style="background:#e74c3c; color:#ffffff;">
                <h4><b>Error something went wrong...</b></h4>
            </div>
            <div ng-show="registerStatus == 3" class="well well-lg" style="background:#18bc9c; color:#ffffff;">
                <h4><b>Welcome to your Smart Kitchen!</b></h4><br />
                <button class="btn btn-warning">Go to your Dashboard</button>
            </div>
        </div>
    </section>

    <section ng-show="showlogin">
        <form name="loginFormMember" novalidate ng-submit="goToDashboard(loginFormMember.$valid)">
            <div class="alert alert-dismissible alert-danger" ng-show="loginStatus == 2">
                <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
                <strong>Oh snap!</strong> Your Email or Password is incorrect.
            </div>
            <!-- EMAIL -->
            <div class="form-group" ng-class="{ 'has-error' : loginFormMember.email.$invalid && !loginFormMember.email.$pristine }">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="email" name="email" class="form-control" ng-model="Member.Email" placeholder="Email" no-capitalize required autofocus ng-disabled="loginStatus == 1">
                </div>
            </div>

            <!-- PASSWORD -->
            <div class="form-group" ng-class="{ 'has-error' : loginFormMember.password.$invalid && !loginFormMember.password.$pristine }">
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" name="password" class="form-control" ng-model="TempPassword" placeholder="Password" required ng-disabled="loginStatus == 1">
                </div>
            </div>

            <!-- SUBMIT BUTTON -->
            <button type="submit" ng-disabled="loginFormMember.$invalid" ng-class="{'btn btn-success': loginStatus != 1, 'btn btn-warning loading': loginStatus == 1}">Login</button>

            <!-- //FEATURED FUNCTION
            <div class="form-group">
                <div class="control">
                    <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                        <div style="float: right;display:inline;">
                            Forgot Password?<a href="" type="button" data-ng-click="Password()"> Click Here</a>
                        </div>
                    </div>
                </div>
            </div>
            -->
        </form>

    </section>

</div>