<div data-ng-controller="dashboard" class="container">
    <h1 class="text-center">Hi {{activeMember.Firstname}}!</h1>
    <h2 class="text-center">What can I do for you?</h2>
    <div class="row text-center" style="margin-top:40px;">
        <div class="col-sm-offset-0 col-sm-4">
            <button style="width:100%;" class="btn btn-info" type="submit" data-ng-click="goToProducts()">
                <img src="img/icons/wine.png" class="img-circle" style="height:150px; display: block; margin:10px auto 10px auto;" />
                <h3 class="text-center">All Products</h3>
            </button>
        </div>
        <div class="col-sm-4">
            <button style="width:100%;" class="btn btn-info" type="submit" disabled data-ng-click="goToRecipes()">
                <img src="img/icons/cook_book-256.png" class="img-circle" style="height:150px; display: block; margin:10px auto 10px auto;" />
                <h3 class="text-center">Recipes</h3>
            </button>
        </div>
        <div class="col-sm-offset-0 col-sm-4">
            <button style="width:100%;" class="btn btn-info" type="submit" data-ng-click="goToShoppingBag()">
                <img src="img/icons/shoppingbag.png" class="img-circle" style="height:150px; display: block; margin:10px auto 10px auto;" />
                <h3 class="text-center">Shopping Bag</h3>
            </button>
        </div>
    </div>
    <div class="row text-center" style="margin-top:30px; margin-bottom:30px;">
        <div class="col-sm-4">
            <button style="width:100%;" class="btn btn-info" type="submit" data-ng-click="goToMyHealth()">
                <img src="img/icons/graph.png" class="img-circle" style="height:150px; display: block; margin:10px auto 10px auto;" />
                <h3 class="text-center">My Health</h3>
            </button>
        </div>
        <div class="col-sm-4">
            <button style="width:100%;" class="btn btn-info" type="submit" disabled data-ng-click="goToHealthGame()">
                <img src="img/icons/joypad.png" class="img-circle" style="height:150px; display: block; margin:10px auto 10px auto;" />
                <h3 class="text-center">Health Game</h3>
            </button>
        </div>
        <div class="col-sm-4">
            <button style="width:100%;" class="btn btn-info" type="submit" data-ng-click="goToMyProfile()">
                <img src="img/icons/settings.png" class="img-circle" style="height:150px; display: block; margin:10px auto 10px auto;" />
                <h3 class="text-center">My Profile</h3>
            </button>
        </div>
    </div>
    <!--Weather-->
    <div class="row" style="margin-bottom:50px;">
        <div class="col-sm-4">
            <div class="well" style="height: 290px;">
                <div class="row" style="margin: 16% 0;">
                    <div class="col-sm-6">
                        <img src="img/icons/temperature-256.png" class="img-circle" style="height: 150px; margin: auto;" />
                    </div>
                    <div class="col-sm-6">
                        <h4>Temperature fridge</h4>
                        <h1>{{ fridgeTemp }}°C</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="well" style="height: 290px;">
                <div class="row" style="height: 100%;">
                    <div class="col-sm-12" style="height: 100%;">
                        <iframe type="text/html" frameborder="0" height="100%" width="100%" ng-src="{{ ForecastEmbedUrl }}"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
