<div data-ng-controller="members" class="container">
    <h1 class="text-center">Who's in the kitchen?</h1><br/>
    <div class="row" ng-init="allMembers">
        <div ng-repeat="member in allMembers">
            <div class="col-sm-4" style="margin-bottom: 20px;">
                <button style="width: 100%;" class="btn btn-info" type="submit" ng-click="selectMember($index)">
                    <img src="img/icons/male3-256.png" height="150px" class="img-circle" style="display: block; margin: auto;" />
                    <h3 class="text-center">{{member.Firstname}}</h3>
                </button>
            </div>
        </div>
        <div class="col-sm-4" style="margin-bottom: 20px;">
            <button style="width: 100%;" class="btn btn-info" type="submit" ng-click="addMember()">
                <img src="img/icons/add.png" height="150px" class="img-circle" style="display: block; margin: auto;"/>
                <h3 class="text-center">Add Person</h3>
            </button>
        </div>
    </div>
</div>