<div data-ng-controller="members" class="container">
    <h1>Who's in the kitchen?</h1>
    <div class="row">
        <div class="col-sm-4">
            <button style="width:100%;" class="btn btn-info" type="submit" onclick="selectMember()">
                <img src="img/icons/male3-256.png" height="150px" class="img-circle" style="display: block; margin:auto;" />
                <h3 class="text-center">Person One</h3>
            </button>
        </div>
        <div class="col-sm-4">
            <button style="width:100%;" class="btn btn-info" type="submit" onclick="selectMember()">
                <img src="img/icons/male3-256.png" height="150px" class="img-circle" style="display: block; margin:auto;" />
                <h3 class="text-center">Person Two</h3>
            </button>
        </div>
        <div class="col-sm-4">
            <button style="width:100%;" class="btn btn-info" type="submit" onclick="selectMember()">
                <img src="img/icons/male3-256.png" height="150px" class="img-circle" style="display: block; margin:auto;" />
                <h3 class="text-center">Person Three</h3>
            </button>
        </div>
    </div>
    <div class="row" style="margin-bottom:20px;">
        <div class="col-sm-4" style="margin-top:20px;">
            <button style="width:100%;" class="btn btn-info" type="submit" onclick="addMember()">
                <img src="img/icons/add.png" height="150px" class="img-circle" style="display: block; margin:auto;" />
                <h3 class="text-center">Add Person</h3>
            </button>
        </div>
    </div>
</div>