<div data-ng-controller="mybmi" class="container">
    <h1 class="text-center">My Health</h1>
    <h2 class="text-center">BMI Calculator <span class="label" ng-class="{'label-info': ((calculatedBmi*2) < 37 ), 'label-success': (((calculatedBmi*2) >= 37) && ((calculatedBmi*2) <=50)), 'label-warning': (((calculatedBmi*2) > 50) && ((calculatedBmi*2) <= 60 )), 'label-danger': (((calculatedBmi*2) > 60) && ((calculatedBmi*2) <=80)), 'label-primary': ((calculatedBmi*2) > 80) ||'label-default'}">{{ calculatedBmi }}</span></h2><br />
    <div class="col-sm-12" style="margin: 0;" ng-hide="activeMember.AgeCategory == 'child'">
        <div class="progress" style="margin-bottom: 0;">
            <div ng-repeat="bmi in BodyMassIndex" class="progress-bar" ng-class="{'progress-bar-success': bmi.color == 'success', 'progress-bar-warning': bmi.color == 'warning', 'progress-bar-info': bmi.color == 'info', 'progress-bar-danger': bmi.color == 'danger', 'progress-bar-primary': bmi.color == 'primary'}" role="progressbar" ng-style="{'width': bmi.max - bmi.min + '%'}">
                {{ bmi.name }}
            </div>
        </div>
        <div style="position: relative; display: block; margin-top: -5px; margin-bottom: 20px;" ng-style="{'margin-left': calculatedBmi*2 +'%'}">
            <i class="fa fa-chevron-up fa-lg"></i>
        </div>
    </div>
    <br />
    <!-- BODY LENGTH -->
    <div class="col-sm-6" style="vertical-align: middle;">
        <button style="width:100%;" class="btn btn-info" type="submit" ng-click="enterMemberLength()">
            <img src="img/icons/measure-256.png" height="200px" class="img-circle" style="margin:20px 10px 20px 10px;display:inline;" />
            <h1 class="text-right" style="display:inline;font-size: 400%;"><b>{{ lastLength }} cm</b></h1>
        </button>
    </div>
    <!-- BODY WEIGHT -->
    <div class="col-sm-6" style="vertical-align: middle;">
        <button style="width:100%;" class="btn btn-info" type="submit" ng-click="enterMemberWeight()">
            <img src="img/icons/scale-weight-256.png" height="200px" class="img-circle" style="margin:20px 10px 20px 10px;display:inline;" />
            <p class="text-right" style="display: inline; font-size: 400%;"><b>{{ lastWeight }} kg</b></p>
        </button>
    </div>
</div>